<!-- <div menu></div> -->
<div header></div>
<!-- page content -->
<div class="right_col no-margin-left" role="main">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="input-group">
					<input type="text" id="search" class="form-control" placeholder="Add a search term" ng-model="searchTerm">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" ng-click="search()">Go!</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="interestOverTimeWidget">
		<div class="col-md-12 col-xs-12">
			<div class="x_panel no-padding">
				<div class="">
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="dashboard-widget-content">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<h2>Interest Over Time</h2>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<canvas id="lineChart" height="300"></canvas>
									</div>
								</div>
							</div>
							<!-- <div class="col-md-12 col-xs-12"> -->
							<!-- <h2 class="line_30"></h2>
							<br>
							<table class="countries_list">
								<thead>
									<tr>
										<td><strong>City</strong></td>
										<td class="fs15 fw700 text-right"><strong>Interest</strong></td>
										<td class="text-center"><strong></strong></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in data">
										<td>{{item.formattedTime}}</td>
										<td class="fs15 fw700 text-right">{{item.value[0]}}</td>
										<td class="text-center">
										</td>
									</tr>
								</tbody>
							</table> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="interestByRegionWidget">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Interest by region</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="dashboard-widget-content">
						<div id="world-map-gdp" class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="height:230px;"></div>
						<!-- <div class="col-md-6 hidden-small">
							<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap countries_list" cellspacing="0" width="100%">
								<tbody>
									<tr ng-repeat="item in regionData">
										<td>{{item.geoName}}</td>
										<td class="fs15 fw700 text-right">{{item.value[0]}}</td>
									</tr>
								</tbody>
							</table>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12" ng-show="relatedTopicsWidget">
			<div class="x_panel">
				<div class="x_title">
					<h2>Related topics</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="dashboard-widget-content">
						<div class="col-md-12 hidden-small">
							<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap countries_list" cellspacing="0" width="100%">
								<tbody>
									<tr ng-repeat="item in topTopics">
										<td>{{ item.topic.title }} - {{ item.topic.type }}</td>
										<td class="fs15 fw700 text-right">{{ item.value }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12" ng-show="relatedQueriesWidget">
			<div class="x_panel">
				<div class="x_title">
					<h2>Related topics</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="dashboard-widget-content">
						<div class="col-md-12 hidden-small">
							<div class="table-flex">
								<div class="table-row-flex" ng-repeat="item in topQueries">
									<a class="table-link" ng-href="{{ item.link }}">
										<div class="row-index">{{ item.id }}</div>
										<div class="row-text text-left">{{ item.query }}</div>
										<div class="row-progress">
											<div class="row-progress-value">{{ item.value }}</div>
											<div class="row-progress-bar">
												<div>
													<div class="">
														<div class="progress progress_sm" style="width: 100%;">
															<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80" style="width: {{ item.value }}%;"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap countries_list" cellspacing="0" width="100%">
								<tbody>
									<tr ng-repeat="item in topQueries">
										<td>{{ item.query }}</td>
										<td class="text-right" style="border-right: none;">{{ item.value }}</td>
										<td class="fs15 fw700 text-right" width="30%" style="border-left: none;">
											<div>
												<div class="">
													<div class="progress progress_sm" style="width: 100%;">
														<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80" style="width: {{ item.value }}%;"></div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div loadstate ng-show="loader"></div>
<!-- /page content -->
<div footer></div>
